

    <!-- HOME -->
    <section class="module module-header bg-dark bg-dark-50" data-background="assets/images/section-7.jpg">

      <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">

            <h1 class="module-title font-alt align-center">Blog grid</h1>

            <div class="module-subtitle font-inc align-center">
              A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
            </div>

          </div>

        </div>
        <!-- /MODULE TITLE -->

      </div>

    </section >
    <!-- /HOME -->

    <!-- BLOG GRID -->
    <section class="module p-b-0">

      <div class="container">

        <div class="row multi-columns-row post-columns">

          <!-- POST ITEM -->
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="post">
              <div class="post-thumbnail">
                <a href="blog-single.html"><img src="assets/images/post-1.jpg" alt=""></a>
              </div>
              <div class="post-header">
                <h2 class="post-title font-alt"><a href="blog-single.html">Our trip to the Alps</a></h2>
                <div class="post-meta font-inc">
                  By <a href="#">Thomas Anderson</a> | 31 DEC 2014
                </div>
              </div>
              <div class="post-entry">
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
              </div>
              <div class="post-more font-inc">
                <a href="blog-single.html" class="more-link">Read more</a>
              </div>
            </div>
          </div>
          <!-- /POST ITEM -->

          <!-- POST ITEM -->
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="post">
              <div class="post-thumbnail">
                <a href="blog-single.html"><img src="assets/images/post-2.jpg" alt=""></a>
              </div>
              <div class="post-header">
                <h2 class="post-title font-alt"><a href="blog-single.html">Shore after the tide</a></h2>
                <div class="post-meta font-inc">
                  By <a href="#">Mark Stone</a> | 25 DEC 2014
                </div>
              </div>
              <div class="post-entry">
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
              </div>
              <div class="post-more font-inc">
                <a href="blog-single.html" class="more-link">Read more</a>
              </div>
            </div>
          </div>
          <!-- /POST ITEM -->

          <!-- POST ITEM -->
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="post">
              <div class="post-thumbnail">
                <a href="blog-single.html"><img src="assets/images/post-3.jpg" alt=""></a>
              </div>
              <div class="post-header">
                <h2 class="post-title font-alt"><a href="blog-single.html">We in New Zealand</a></h2>
                <div class="post-meta font-inc">
                  By <a href="#">Thomas Anderson</a> | 22 DEC 2014
                </div>
              </div>
              <div class="post-entry">
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
              </div>
              <div class="post-more font-inc">
                <a href="blog-single.html" class="more-link">Read more</a>
              </div>
            </div>
          </div>
          <!-- /POST ITEM -->

          <!-- POST ITEM -->
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="post">
              <div class="post-thumbnail">
                <a href="blog-single.html"><img src="assets/images/post-4.jpg" alt=""></a>
              </div>
              <div class="post-header">
                <h2 class="post-title font-alt"><a href="blog-single.html">Our trip to the Alps</a></h2>
                <div class="post-meta font-inc">
                  By <a href="#">Thomas Anderson</a> | 31 DEC 2014
                </div>
              </div>
              <div class="post-entry">
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
              </div>
              <div class="post-more font-inc">
                <a href="blog-single.html" class="more-link">Read more</a>
              </div>
            </div>
          </div>
          <!-- /POST ITEM -->

          <!-- POST ITEM -->
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="post">
              <div class="post-thumbnail">
                <a href="blog-single.html"><img src="assets/images/post-5.jpg" alt=""></a>
              </div>
              <div class="post-header">
                <h2 class="post-title font-alt"><a href="blog-single.html">Shore after the tide</a></h2>
                <div class="post-meta font-inc">
                  By <a href="#">Mark Stone</a> | 25 DEC 2014
                </div>
              </div>
              <div class="post-entry">
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
              </div>
              <div class="post-more font-inc">
                <a href="blog-single.html" class="more-link">Read more</a>
              </div>
            </div>
          </div>
          <!-- /POST ITEM -->

          <!-- POST ITEM -->
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="post">
              <div class="post-thumbnail">
                <a href="blog-single.html"><img src="assets/images/post-6.jpg" alt=""></a>
              </div>
              <div class="post-header">
                <h2 class="post-title font-alt"><a href="blog-single.html">We in New Zealand</a></h2>
                <div class="post-meta font-inc">
                  By <a href="#">Thomas Anderson</a> | 22 DEC 2014
                </div>
              </div>
              <div class="post-entry">
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
              </div>
              <div class="post-more font-inc">
                <a href="blog-single.html" class="more-link">Read more</a>
              </div>
            </div>
          </div>
          <!-- /POST ITEM -->

        </div>

      </div>

    </section>
    <!-- /BLOG GRID -->

    <!-- PAGINATION -->
    <section class="module-small p-t-10">

      <div class="container">
      
        <div class="pagination font-inc text-uppercase">
      
          <a href="#"><i class="fa fa-angle-left"></i> Prev</a>
          <a href="#">Next <i class="fa fa-angle-right"></i></a>
      
        </div>
      
      </div>

    </section>
    <!-- /PAGINATION -->

    <!-- DIVIDER -->
    <hr class="divider-w">
    <!-- /DIVIDER -->