  <!-- HOME -->
  <section id="home" class="module-hero module-parallax module-fade module-full-height">

    <div class="hero-slider">
      <ul class="slides">

        <!-- SLIDE -->
        <li class="bg-dark">

          <div class="slidebg slide-zoom bg-dark-30" style="background-image:url(assets/images/TRwedding-296.jpg)"></div>

          <div class="hs-caption container">
            <div class="caption-content">
              <div class="hs-title-size-3 font-alt m-b-20">
                We are Creators
              </div>
              <div class="hs-title-size-1 font-inc">
                We turn new and imaginative ideas into innovative reality.
              </div>
            </div>
          </div>

        </li>
        <!-- /SLIDE -->

        <!-- SLIDE -->
        <li class="bg-light">

          <div class="slidebg slide-zoom bg-light-30" style="background-image:url(assets/images/ANDREWTRAN-16.jpg)"></div>

          <div class="hs-caption container">
            <div class="caption-content left">
              <div class="hs-title-size-3 font-alt m-b-20">
                We are Designers
              </div>
              <div class="hs-title-size-1 font-inc">
                Design involves problem-solving and creativity.
              </div>
            </div>
          </div>

        </li>
        <!-- /SLIDE -->

        <!-- SLIDE -->
        <li class="bg-dark">

          <div class="slidebg slide-zoom bg-dark-50" style="background-image:url(assets/images/TRwedding-520.jpg)"></div>

          <div class="hs-caption container">
            <div class="caption-content right">
              <div class="hs-title-size-3 font-alt m-b-20">
                We are Planners
              </div>
              <div class="hs-title-size-1 font-inc">
                Passion and challenge all tied into one.
              </div>
            </div>
          </div>

        </li>
        <!-- /SLIDE -->

      </ul>
    </div>

  </section >
  <!-- /HOME -->

<!-- WRAPPER -->
  <div class="wrapper">

    <!-- PORTFOLIO -->
    <section class="module-small p-t-20 p-b-0 p-t-sm-0">

      <div class="container hidden-xs">

        <!-- PORTFOLIO FILTER -->
        <div class="row">
          <div class="col-sm-12">

            <ul id="filters" class="filter font-inc">
              <li><a href="#" data-filter="*" class="current wow fadeInUp">Wedding Planner</a></li>
              <li><a href="#" data-filter=".illustration" class="wow fadeInUp" data-wow-delay="0.2s">Coordinator</a></li>
              <li><a href="#" data-filter=".marketing" class="wow fadeInUp" data-wow-delay="0.4s">Designer</a></li>
              <li><a href="#" data-filter=".photography" class="wow fadeInUp" data-wow-delay="0.6s">Photographer</a></li>
              <!-- <li><a href="#" data-filter=".webdesign" class="wow fadeInUp" data-wow-delay="0.8s">Web Design</a></li> -->
            </ul>

          </div>
        </div>
        <!-- /PORTFOLIO FILTER -->

      </div>

      <!-- PORTFOLIO LIST -->
      <ul id="works-grid" class="works-grid works-grid-masonry works-grid-3 works-hover-w">

        <!-- PORTFOLIO ITEM -->
        <li class="work-item marketing photography">
          <a href="/gallery">
            <div class="work-image">
              <img src="assets/images/ANDREWTRAN-15.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">Tran Nuptials</h3>
              <div class="work-descr font-inc">
                Wedding Planner | Photographer
              </div>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

        <!-- PORTFOLIO ITEM -->
        <li class="work-item marketing photography">
          <a href="/gallery">
            <div class="work-image">
              <img src="assets/images/ANDREWTRAN-99.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">Tran Nuptials</h3>
              <div class="work-descr font-inc">
                Wedding Planner | Photographer
              </div>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

        <!-- PORTFOLIO ITEM -->
        <li class="work-item marketing photography">
          <a href="/gallery">
            <div class="work-image">
              <img src="assets/images/ja10.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">Bilbie Nuptials</h3>
              <div class="work-descr font-inc">
                Wedding Planner
              </div>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

        <!-- PORTFOLIO ITEM -->
        <li class="work-item marketing photography">
          <a href="/gallery">
            <div class="work-image">
              <img src="assets/images/TRwedding-2.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">Mccaffrey Nuptials</h3>
              <div class="work-descr font-inc">
                Wedding Planner | Photographer
              </div>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

        <!-- PORTFOLIO ITEM -->
        <li class="work-item marketing photography">
          <a href="/gallery">
            <div class="work-image">
              <img src="assets/images/ja6.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">Bilbie Nuptials</h3>
              <div class="work-descr font-inc">
                Wedding Planner
              </div>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

        <!-- PORTFOLIO ITEM -->
        <li class="work-item marketing photography">
          <a href="/gallery">
            <div class="work-image">
              <img src="assets/images/TRwedding-273.jpg" alt="Tran Nuptials">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">Tran Nuptials</h3>
              <div class="work-descr font-inc">
                Wedding Planner
              </div>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

        <!-- PORTFOLIO ITEM -->
        <li class="work-item marketing photography">
          <a href="/gallery">
            <div class="work-image">
              <img src="assets/images/ja1.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">Bilbie Nuptials</h3>
              <div class="work-descr font-inc">
                Wedding Planner
              </div>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

        <!-- PORTFOLIO ITEM -->
        <li class="work-item marketing photography">
          <a href="/gallery">
            <div class="work-image">
              <img src="assets/images/ja5.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">Bilbie Nuptials</h3>
              <div class="work-descr font-inc">
                Wedding Planner
              </div>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

        <!-- PORTFOLIO ITEM -->
        <li class="work-item marketing photography">
          <a href="/gallery">
            <div class="work-image">
              <img src="assets/images/ja18.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">Bilbie Nuptials</h3>
              <div class="work-descr font-inc">
                Wedding Planner
              </div>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

      </ul>
      <!-- /PORTFOLIO LIST -->

    </section>
    <!-- /PORTFOLIO -->

    <!-- TESTIMONIAL -->
    <section class="module-small">

      <div class="container">

        <div class="row">

          <!-- MODULE TITLE -->
          <div class="col-sm-6">
            <h2 class="module-title font-alt">Love Talks</h2>
          </div>
          <!-- /MODULE TITLE -->

          <!-- BLOCKQUOTE -->
          <div class="col-sm-6">
            <blockquote class="font-serif align-right">
              <p>“What greater thing is there for two human souls, than to feel that they are joined for life–to strength each other in all labor, to rest on each other in all sorrow, to minister to each other in silent unspeakable memories at the moment of the last parting?”</p>
              <p class="font-inc font-uppercase">- George Elliot</p>
            </blockquote>
          </div>
          <!-- /BLOCKQUOTE -->

        </div>

      </div>

    </section>
    <!-- /TESTIMONIAL -->

    <!-- ABOUT -->
    <section class="module p-t-0 p-b-0" data-background="../assets/images/Floral_Deco_01.jpg">

      <div class="container-fluid">

        <div class="row relative">

          <div class="col-sm-12 col-md-6 col-md-offset-6 col-bg">

            <h2 class="module-title font-alt">About</h2>

            <div class="module-subtitle font-inc">
              EVERY JOURNEY NEEDS A FIRST STEP. WE INVITE YOU TO TAKE THIS FIRST STEP WITH US AND WE WILL SHOW YOU A SIMPLY SEAMLESS GUIDE TO THE WEDDING DAY OF YOUR DREAMS.
            </div>

            <p>As your professional wedding planner, we absolutely understand that your wedding day is one of the most significant days of your lives. And due to the overwhelming volume of options in vendors, locations, contractors, etc., our main focus is to lessen the pressure for our bride and groom, by ensuring that every single detail is strictly planned and effectively managed.</p>

            <p>In order to achieve this, we have engineered a master plan that effectively outlines not only the day of the wedding but especially the months, weeks and days leading up to it. This master plan is not just any generic list that applies to every couple, but a detailed outline that is transformable to cater to each client's specific needs and desires.</p>

            <ul class="social-list">
              <li><a href="https://www.facebook.com/simplyseamlessevents/"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-googleplus"></span></a></li>
              <li><a href="https://www.instagram.com/simplyseamlessevents/"><span class="icon-camera"></span></a></li>
            </ul>

          </div>

        </div>

      </div>

    </section>
    <!-- /ABOUT -->

</div>
<!-- WRAPPER -->