    <!-- HOME -->
    <section class="module module-header bg-dark bg-dark-50" data-background="assets/images/section-5.jpg">

      <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">

            <h1 class="module-title font-alt align-center">Services</h1>

            <div class="module-subtitle font-inc align-center">
              We do not see things as they are, but we see things as we are. We want our work and services to represent who we are as a company. When we complete a project, we want to be proof that there is incredible value in being of service to others.
            </div>
          </div>

          </div>

        </div>
        <!-- /MODULE TITLE -->

    </section >
    <!-- /HOME -->


<!-- WRAPPER -->
  <div class="wrapper"> 

    <!-- ABOUT -->
    <section class="module">

      <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">

          <div class="col-sm-6">

            <h2 class="module-title font-alt">Simply Seamless Events</h2>

            <div class="module-subtitle font-inc">
              Every journey needs a first step. We invite you to take this first step with us and we will show you a simply seamless guide to the wedding day of your dreams.
            </div>

          </div>

        </div>
        <!-- /MODULE TITLE -->

        <div class="row">

          <!-- ABOUT CONTENT -->
          <div class="col-sm-6">

            <p>As your professional wedding planner, we absolutely understand that your wedding day is one of the most significant days of your lives. And due to the overwhelming amount of options in vendors, florists, photographers, etc., our main focus is to lessen the pressure and chaos by ensuring that every single detail is strictly planned and effectively managed.</p>

            <p>In order to achieve this, we have engineered a master plan that effectively outlines no only the day of the wedding but even the months leading up to it. This master plan is not just any generic list that applies to every bride, but a detailed outline that is transformable to cater to each bride's specific need and desire.</p>

           <ul class="social-list">
              <li><a href="https://www.facebook.com/simplyseamlessevents/"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-googleplus"></span></a></li>
              <li><a href="https://www.instagram.com/simplyseamlessevents/"><span class="icon-camera"></span></a></li>
            </ul>

          </div>
          <!-- /ABOUT CONTENT -->

          <!-- SKILLS -->
          <div class="col-sm-6">

            <h5 class="progress-title font-inc">Support Staff</h5>
            <div class="progress">
              <div class="progress-bar pb-dark" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="font-inc"></span>
              </div>
            </div>

            <h5 class="progress-title font-inc">Organizer</h5>
            <div class="progress">
              <div class="progress-bar pb-dark" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="font-inc"></span>
              </div>
            </div>

            <h5 class="progress-title font-inc">Designer</h5>
            <div class="progress">
              <div class="progress-bar pb-dark" aria-valuenow="85" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="font-inc"></span>
              </div>
            </div>

            <h5 class="progress-title font-inc">Wedding Planner</h5>
            <div class="progress">
              <div class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="font-inc"></span>
              </div>
            </div>

          </div>
          <!-- /SKILLS -->

        </div>

      </div>

    </section >
    <!-- /ABOUT -->

    <!-- DIVIDER -->
    <hr class="divider-w">
    <!-- /DIVIDER -->

    <!-- SERVICES -->
    <section class="module">

      <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">

            <h2 class="module-title align-center font-alt">PASSION is Purpose</h2>

          <!--   <div class="module-subtitle align-center font-inc">
              Planning beautiful, magical weddings is our passion. We did not choose this profession at random or decided this life on a whim; it is our calling.
            </div> -->

          </div>

        </div>
        <!-- /MODULE TITLE -->

        <div class="row multi-columns-row">


           <!-- CONTENT BOX -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-clipboard"></span>
              </div>
              <div class="content-box-title font-inc font-uppercase">
                Vendor Manager
              </div>
              <div class="content-box-text">
                We have cultivated relationships with vendors and suppliers that allows us to seamlessly operate from the start of the contract through the sales process and after.
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-presentation"></span>
              </div>
              <div class="content-box-title font-inc font-uppercase">
                Master Planner
              </div>
              <div class="content-box-text">
                Everyone realizes why a common language would be desirable: one could refuse to pay expensive translators.
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-wallet"></span>
              </div>
              <div class="content-box-title font-inc font-uppercase">
                Budget Organizer
              </div>
              <div class="content-box-text">
                Everyone realizes why a common language would be desirable: one could refuse to pay expensive translators.
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-briefcase"></span>
              </div>
              <div class="content-box-title font-inc font-uppercase">
                Contract Negotiator
              </div>
              <div class="content-box-text">
                Everyone realizes why a common language would be desirable: one could refuse to pay expensive translators.
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-camera"></span>
              </div>
              <div class="content-box-title font-inc font-uppercase">
                Photography
              </div>
              <div class="content-box-text">
                Everyone realizes why a common language would be desirable: one could refuse to pay expensive translators.
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-video"></span>
              </div>
              <div class="content-box-title font-inc font-uppercase">
                Video
              </div>
              <div class="content-box-text">
                Everyone realizes why a common language would be desirable: one could refuse to pay expensive translators.
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-tools"></span>
              </div>
              <div class="content-box-title font-inc font-uppercase">
                Designer & Decorator
              </div>
              <div class="content-box-text">
                Everyone realizes why a common language would be desirable: one could refuse to pay expensive translators.
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-gears"></span>
              </div>
              <div class="content-box-title font-inc font-uppercase">
                Support
              </div>
              <div class="content-box-text">
                Everyone realizes why a common language would be desirable: one could refuse to pay expensive translators.
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

        </div>

      </div>

    </section>
    <!-- /SERVICES -->

    <!-- COUNTERS -->
    <section class="module-small bg-dark bg-dark-50" data-background="assets/images/section-7.jpg">

      <div class="container">

        <div class="row">

          <!-- COUNTER -->
          <div class="col-sm-3 m-b-md-20">
            <div class="counter-item">
              <div class="counter-number font-alt" data-number="2180">
                <span></span>
              </div>
              <div class="counter-title font-inc">
                Cups of coffee
              </div>
            </div>
          </div>
          <!-- /COUNTER -->

          <!-- COUNTER -->
          <div class="col-sm-3 m-b-md-20">
            <div class="counter-item">
              <div class="counter-number font-alt" data-number="53">
                <span></span>
              </div>
              <div class="counter-title font-inc">
                Succesful Partnerships
              </div>
            </div>
          </div>
          <!-- /COUNTER -->

          <!-- COUNTER -->
          <div class="col-sm-3 m-b-md-20">
            <div class="counter-item">
              <div class="counter-number font-alt" data-number="15">
                <span></span>
              </div>
              <div class="counter-title font-inc">
                Magical Weddings
              </div>
            </div>
          </div>
          <!-- /COUNTER -->

          <!-- COUNTER -->
          <div class="col-sm-3 m-b-md-20">
            <div class="counter-item">
              <div class="counter-number font-alt" data-number="100">
                <span></span>%
              </div>
              <div class="counter-title font-inc">
                Happy clients
              </div>
            </div>
          </div>
          <!-- /COUNTER -->

        </div>

      </div>

    </section>
    <!-- /COUNTERS -->

    <!-- TEAM -->
    <section class="module">

      <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">

            <h2 class="module-title align-center font-alt">Our Team</h2>

            <div class="module-subtitle align-center font-inc">
              "Never doubt that a small group of thoughtful, committed people can change the world. Indeed. It is the only thing that ever has." --Margaret Mead
            </div>

          </div>

        </div>
        <!-- /MODULE TITLE -->

        <div class="row">

          <!-- TEAM MEMBER -->
          <div class="col-sm-6 col-md-3 m-b-md-20">
            <div class="team-item">
              <div class="team-image">
                <img src="assets/images/team-1.jpg" alt="">
                <div class="team-detail">
                  <h5 class="font-inc">Hi all</h5>
                  <p>The languages only differ in their grammar, their pronunciation and their most common words.</p>
                  <ul class="social-list">
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-googleplus"></span></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-descr font-inc">
                <div class="team-name">Jordyn Oriole</div>
                <div class="team-role">CEO | Wedding Planner</div>
              </div>
            </div>
          </div>
          <!-- /TEAM MEMBER -->

          <!-- TEAM MEMBER -->
          <div class="col-sm-6 col-md-3 m-b-md-20">
            <div class="team-item">
              <div class="team-image">
                <img src="assets/images/team-2.jpg" alt="">
                <div class="team-detail">
                  <h5 class="font-inc">Hi all</h5>
                  <p>The languages only differ in their grammar, their pronunciation and their most common words.</p>
                  <ul class="social-list">
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-googleplus"></span></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-descr font-inc">
                <div class="team-name">Sergi Beltrol</div>
                <div class="team-role">CFO</div>
              </div>
            </div>
          </div>
          <!-- /TEAM MEMBER -->

          <!-- TEAM MEMBER -->
          <div class="col-sm-6 col-md-3 m-b-md-20">
            <div class="team-item">
              <div class="team-image">
                <img src="assets/images/team-3.jpg" alt="">
                <div class="team-detail">
                  <h5 class="font-inc">Hi all</h5>
                  <p>The languages only differ in their grammar, their pronunciation and their most common words.</p>
                  <ul class="social-list">
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-googleplus"></span></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-descr font-inc">
                <div class="team-name">Michelle Gonzalez</div>
                <div class="team-role">Wedding Planner</div>
              </div>
            </div>
          </div>
          <!-- /TEAM MEMBER -->

          <!-- TEAM MEMBER -->
          <div class="col-sm-6 col-md-3 m-b-md-20">
            <div class="team-item">
              <div class="team-image">
                <img src="assets/images/team-4.jpg" alt="">
                <div class="team-detail">
                  <h5 class="font-inc">Hi all</h5>
                  <p>The languages only differ in their grammar, their pronunciation and their most common words.</p>
                  <ul class="social-list">
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-googleplus"></span></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-descr font-inc">
                <div class="team-name">Jenny Storm</div>
                <div class="team-role">Account Manager</div>
              </div>
            </div>
          </div>
          <!-- /TEAM MEMBER -->

        </div>

      </div>

    </section>
    <!-- /TEAM -->

</div>

  </div>
  <!-- WRAPPER -->


    <!-- DIVIDER -->
    <hr class="divider-w">
    <!-- /DIVIDER -->