  <!-- PRELOADER -->
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>
  <!-- /PRELOADER -->
    <!-- HOME -->
    <section class="module module-header bg-dark bg-dark-50" data-background="assets/images/section-5.jpg">

      <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">

            <h1 class="module-title font-alt align-center">Services</h1>

            <div class="module-subtitle font-inc align-center">
              We wholeheartedly believe that there is incredible value in being of service to others. If we want to be recognized for anything, we want it to be for our impecable customer service and extreme client satisfaction.
            </div>
          </div>

          </div>

        </div>
        <!-- /MODULE TITLE -->

    </section >
    <!-- /HOME -->


<!-- WRAPPER -->
  <div class="wrapper"> 

    <!-- ABOUT -->
    <section class="module">

      <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">

          <div class="col-sm-6">

            <h2 class="module-title font-alt">Simply Seamless Events</h2>

            <div class="module-subtitle font-inc">
              Every journey needs a first step. We invite you to take this first step with us and we will show you a simply seamless guide to the wedding day of your dreams.
            </div>

          </div>

        </div>
        <!-- /MODULE TITLE -->

        <div class="row">

          <!-- ABOUT CONTENT -->
          <div class="col-sm-6">

            <p>As your professional wedding planner, we absolutely understand that your wedding day is one of the most significant days of your lives. And due to the overwhelming volume of options in vendors, locations, contractors, etc., our main focus is to lessen the pressure for our bride and groom, by ensuring that every single detail is strictly planned and effectively managed.</p>

            <p>In order to achieve this, we have engineered a master plan that effectively outlines not only the day of the wedding but especially the months, weeks and days leading up to it. This master plan is not just any generic list that applies to every couple, but a detailed outline that is transformable to cater to each client's specific needs and desires.</p>

           <ul class="social-list">
              <li><a href="https://www.facebook.com/simplyseamlessevents/"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-googleplus"></span></a></li>
              <li><a href="https://www.instagram.com/simplyseamlessevents/"><span class="icon-camera"></span></a></li>
            </ul>

          </div>
          <!-- /ABOUT CONTENT -->

          <!-- SKILLS -->
          <div class="col-sm-6">

            <h5 class="progress-title font-inc">Support</h5>
            <div class="progress">
              <div class="progress-bar pb-dark" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="font-inc"></span>
              </div>
            </div>

            <h5 class="progress-title font-inc">Coordinator</h5>
            <div class="progress">
              <div class="progress-bar pb-dark" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="font-inc"></span>
              </div>
            </div>

            <h5 class="progress-title font-inc">Designer</h5>
            <div class="progress">
              <div class="progress-bar pb-dark" aria-valuenow="85" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="font-inc"></span>
              </div>
            </div>

            <h5 class="progress-title font-inc">Wedding Planner & Organizer</h5>
            <div class="progress">
              <div class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="font-inc"></span>
              </div>
            </div>

          </div>
          <!-- /SKILLS -->

        </div>

      </div>

    </section >
    <!-- /ABOUT -->

    <!-- DIVIDER -->
    <hr class="divider-w">
    <!-- /DIVIDER -->

    <!-- SERVICES -->
    <section class="module">

      <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">

            <h2 class="module-title align-center font-alt">Services We Provide</h2>

          <!--   <div class="module-subtitle align-center font-inc">
              Planning beautiful, magical weddings is our passion. We did not choose this profession at random or decided this life on a whim; it is our calling.
            </div> -->

          </div>

        </div>
        <!-- /MODULE TITLE -->

        <div class="row multi-columns-row">




          <!-- CONTENT BOX -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-calendar"></span>
              </div>
              <div class="content-box-title font-inc font-uppercase">
                Master Planner
              </div>
              <div class="content-box-text">
                We are fully equiped and capable to be responsible for planning, scheduling, coordinating, and monitoring your event through the complete cycle.
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-wallet"></span>
              </div>
              <div class="content-box-title font-inc font-uppercase">
                Budget Organizer
              </div>
              <div class="content-box-text">
                We make it easier to track spending, identify areas where spending might be cut back and allocate funds to cover specific transactions, expenses and wedding bugetary needs.
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-clipboard"></span>
              </div>
              <div class="content-box-title font-inc font-uppercase">
                Vendor Manager
              </div>
              <div class="content-box-text">
                We have cultivated relationships with vendors and suppliers that allows us to seamlessly operate from the start of the contract through the sales process and after.
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-briefcase"></span>
              </div>
              <div class="content-box-title font-inc font-uppercase">
                Contract Specialist
              </div>
              <div class="content-box-text">
                We specialize in negotiating contracts to provide our client's the best and most ideal contracts possible.
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-map-pin"></span>
              </div>
              <div class="content-box-title font-inc font-uppercase">
                Location Scout
              </div>
              <div class="content-box-text">
                We can make recommendations on reception venues, engagement and wedding day photoshoot locations, rehearsal dinner catering and restaurants and many more! 
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-tools"></span>
              </div>
              <div class="content-box-title font-inc font-uppercase">
                Designer & Decorator
              </div>
              <div class="content-box-text">
                Expect a less stressful discussion of building centerpieces, creating floral arrangements, lighting set-up, and planning all aspects of your event's decor!
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-camera"></span>
              </div>
              <div class="content-box-title font-inc font-uppercase">
                Photographer
              </div>
              <div class="content-box-text">
                Our event management experience has given us the opportunity to refine our skills in the art of taking professional event photos.
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-gears"></span>
              </div>
              <div class="content-box-title font-inc font-uppercase">
                Support
              </div>
              <div class="content-box-text">
                We will be available through texts, calls, Facetime, chat, email, whatever is best.
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

        </div>

      </div>

    </section>
    <!-- /SERVICES -->

    <!-- COUNTERS -->
    <section class="module-small bg-dark bg-dark-50" data-background="assets/images/section-7.jpg">

      <div class="container">

        <div class="row">

          <!-- COUNTER -->
          <div class="col-sm-3 m-b-md-20">
            <div class="counter-item">
              <div class="counter-number font-alt" data-number="2180">
                <span></span>
              </div>
              <div class="counter-title font-inc">
                Cups of coffee
              </div>
            </div>
          </div>
          <!-- /COUNTER -->

          <!-- COUNTER -->
          <div class="col-sm-3 m-b-md-20">
            <div class="counter-item">
              <div class="counter-number font-alt" data-number="53">
                <span></span>
              </div>
              <div class="counter-title font-inc">
                Succesful Partnerships
              </div>
            </div>
          </div>
          <!-- /COUNTER -->

          <!-- COUNTER -->
          <div class="col-sm-3 m-b-md-20">
            <div class="counter-item">
              <div class="counter-number font-alt" data-number="15">
                <span></span>
              </div>
              <div class="counter-title font-inc">
                Magical Weddings
              </div>
            </div>
          </div>
          <!-- /COUNTER -->

          <!-- COUNTER -->
          <div class="col-sm-3 m-b-md-20">
            <div class="counter-item">
              <div class="counter-number font-alt" data-number="100">
                <span></span>%
              </div>
              <div class="counter-title font-inc">
                Happy clients
              </div>
            </div>
          </div>
          <!-- /COUNTER -->

        </div>

      </div>

    </section>
    <!-- /COUNTERS -->

    <!-- TEAM -->
    <section class="module">

      <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">

            <h2 class="module-title align-center font-alt">Our Team</h2>

            <div class="module-subtitle align-center font-inc">
              "Never doubt that a small group of thoughtful, committed people can change the world. Indeed. It is the only thing that ever has." --Margaret Mead
            </div>

          </div>

        </div>
        <!-- /MODULE TITLE -->

        <div class="row">

          <!-- TEAM MEMBER -->
          <div class="col-sm-6 col-md-3 m-b-md-20">
            <div class="team-item">
              <div class="team-image">
                <img src="assets/images/team-1.jpg" alt="">
                <div class="team-detail">
                  <h5 class="font-inc">Hi all</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <ul class="social-list">
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-googleplus"></span></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-descr font-inc">
                <div class="team-name">Jordyn Oriole</div>
                <div class="team-role">CEO | Wedding Planner</div>
              </div>
            </div>
          </div>
          <!-- /TEAM MEMBER -->

          <!-- TEAM MEMBER -->
          <div class="col-sm-6 col-md-3 m-b-md-20">
            <div class="team-item">
              <div class="team-image">
                <img src="assets/images/team-2.jpg" alt="">
                <div class="team-detail">
                  <h5 class="font-inc">Hi all</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <ul class="social-list">
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-googleplus"></span></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-descr font-inc">
                <div class="team-name">Sergi Beltrol</div>
                <div class="team-role">CFO</div>
              </div>
            </div>
          </div>
          <!-- /TEAM MEMBER -->

          <!-- TEAM MEMBER -->
          <div class="col-sm-6 col-md-3 m-b-md-20">
            <div class="team-item">
              <div class="team-image">
                <img src="assets/images/team-3.jpg" alt="">
                <div class="team-detail">
                  <h5 class="font-inc">Hi all</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <ul class="social-list">
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-googleplus"></span></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-descr font-inc">
                <div class="team-name">Michelle Gonzalez</div>
                <div class="team-role">Wedding Planner</div>
              </div>
            </div>
          </div>
          <!-- /TEAM MEMBER -->

          <!-- TEAM MEMBER -->
          <div class="col-sm-6 col-md-3 m-b-md-20">
            <div class="team-item">
              <div class="team-image">
                <img src="assets/images/team-4.jpg" alt="">
                <div class="team-detail">
                  <h5 class="font-inc">Hi all</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <ul class="social-list">
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-googleplus"></span></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-descr font-inc">
                <div class="team-name">Jenny Storm</div>
                <div class="team-role">Account Manager</div>
              </div>
            </div>
          </div>
          <!-- /TEAM MEMBER -->

        </div>

      </div>

    </section>
    <!-- /TEAM -->

</div>

  </div>
  <!-- WRAPPER -->


    <!-- DIVIDER -->
    <hr class="divider-w">
    <!-- /DIVIDER -->